#button{
    margin:10px
}

.addSubjectButton{
    padding:0.5rem !important

}

.tableSubject{
    height:800px;
    overflow-y: scroll;
}

.tableSubject a{
    color:black;
    text-decoration: none;
    text-decoration-color: #007bff;
}

.trashIcon{
    cursor:pointer;
} 

