.headerContainerFluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #1C8EF9 !important;
}

#dropdownMainMenu{
  background-color: white;
  color:#1C8EF9 ;
}
